In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"

In [3]:
# Alternatively
# Add the dependencies.
# import pandas as pd
# import os
# Files to load
# school_data_to_load = os.path.join("Resources", "schools_complete.csv")
# student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [4]:
#** Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load) #right DataFrame
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
# Determine if there are any missing values in the school data.
#school_data_df.count()

In [6]:
#** Read the school data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load) #left DataFrame
student_data_df 

# Determine if there are any missing values in the student data.
#student_data_df.count()

ParserError: Error tokenizing data. C error: Expected 7 fields in line 39174, saw 8

In [ ]:
# Determine if there are any missing values in the student data.
#school_data_df.isnull() # Every row that is not empty gets False

In [ ]:
# Determine if there are any missing values in the student data.
#student_data_df.isnull().sum()

In [ ]:
# Determine if there are not any missing values in the school data.
#school_data_df.notnull()

In [ ]:
# Determine if there are not any missing values in the school data.
#student_data_df.notnull().sum()

In [ ]:
# Determine data types for the school DataFrame.
#school_data_df.dtypes

In [ ]:
# Determine data types for the student DataFrame.
#student_data_df.dtypes

In [ ]:
# Add each prefix and suffix to remove to a list.
#prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
#for word in prefixes_suffixes:
#    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [ ]:
#student_data_df.head(10)

In [ ]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

In [ ]:
#school_data_complete_df[column].count()
student_count_complete = school_data_complete_df["Student ID"].count()
student_count_complete
# Gives number of students in the district

In [ ]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
# need to get the unique items in the ["school_name"] column by using the unique() method. This method will return a "ndarray", or n-dimensional array of all the unique values of that column.
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
# ^ output of using the unique() method on a Series is a ndarray of all the high schools

In [ ]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score
# Gives boolean values

In [ ]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70
# Gives boolean values

In [ ]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

In [ ]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [ ]:
#passing_math["student_name"].count()

In [ ]:
#passing_math["student_name"]

In [ ]:
#len(passing_math)

In [ ]:
#passing_math.count()

In [ ]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [ ]:
student_count_complete.astype(float)

In [ ]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / student_count_complete.astype(float) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / student_count_complete.astype(float) * 100

In [ ]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading

In [ ]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count_complete * 100
overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count_complete,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

In [ ]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

In [ ]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)